/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* FULL SCREEN APP */
html, body {
  width: 100%;
  height: 100%;
  background: #0f172a;   /* plain app background */
  overflow: hidden;
}

/* LOGIN & DASHBOARD */
.login-container,
.dashboard {
  width: 100%;
  height: 100%;
  background: #1e1e2f;
  padding: 25px;
  color: white;
}

/* HEADINGS */
h2, h3 {
  color: #ff4f8b;
  margin-bottom: 15px;
  text-align: center;
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #2a2a40;
  border: none;
  border-radius: 8px;
  color: white;
}

/* BUTTONS */
button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #ff4f8b;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* MENU */
.menu {
  margin-bottom: 15px;
}

/* SECTIONS */
.section {
  display: none;
  margin-top: 10px;
}

/* SOS */
.sos-btn {
  background: red;
  font-size: 18px;
}

/* DEFENSE LIST */
.defense-list li {
  margin: 8px 0;
}

/* ERROR */
#error {
  color: #ff6b6b;
  margin-top: 10px;
  text-align: center;
}
